/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.milkdown {
	@apply bg-slate-700 px-2 py-2 my-5 border border-slate-600 rounded;
}

.editor {
	@apply min-w-full;
}
