@import "tailwindcss";

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f5f8f6;
  --color-primary-100: #dee9e4;
  --color-primary-200: #bcd3c9;
  --color-primary-300: #92b6a7;
  --color-primary-400: #6c9586;
  --color-primary-500: #517b6b;
  --color-primary-600: #406156;
  --color-primary-700: #364f47;
  --color-primary-800: #2d403a;
  --color-primary-900: #293833;
  --color-primary-950: #141f1c;

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;

  /** This is the same as lime */
  --color-task-50: oklch(98.6% 0.031 120.757);
  --color-task-100: oklch(96.7% 0.067 122.328);
  --color-task-200: oklch(93.8% 0.127 124.321);
  --color-task-300: oklch(89.7% 0.196 126.665);
  --color-task-400: oklch(84.1% 0.238 128.85);
  --color-task-500: oklch(76.8% 0.233 130.85);
  --color-task-600: oklch(64.8% 0.2 131.684);
  --color-task-700: oklch(53.2% 0.157 131.589);
  --color-task-800: oklch(45.3% 0.124 130.933);
  --color-task-900: oklch(40.5% 0.101 131.063);
  --color-task-950: oklch(27.4% 0.072 132.109);

  /** base is CA7842 */
  --color-reminder-50: #fbf6ef;
  --color-reminder-100: #f3e5d2;
  --color-reminder-200: #e7c9a0;
  --color-reminder-300: #daa86f;
  --color-reminder-400: #d18e4e;
  --color-reminder-500: #ca7842;
  --color-reminder-600: #b0562f;
  --color-reminder-700: #933f2a;
  --color-reminder-800: #783428;
  --color-reminder-900: #642c23;
  --color-reminder-950: #381510;
}

@source "../node_modules/flowbite-svelte/dist";

@layer base {

  input::placeholder,
  textarea::placeholder {
    color: var(--color-neutral-300);
  }
}

@utility glassy-shadow {
  box-shadow:
    inset 10px 10px 20px rgba(153, 192, 255, 0.1),
    inset 2px 2px 5px rgba(195, 218, 255, 0.2),
    inset -10px -10px 20px rgba(229, 253, 190, 0.1),
    inset -2px -2px 30px rgba(247, 255, 226, 0.2);
  backdrop-filter: blur(5px);
  filter: brightness(120%);
}

@keyframes color-animation {
  0% {
    color: var(--color-start);
  }

  50% {
    color: var(--color-end);
  }
}

.glass-clickable {
  @apply glassy-shadow relative;
}

.glass-clickable:not(.loading)::after {
  @apply absolute inset-0 w-full h-full opacity-0 pointer-events-none;
  @apply ring-2 ring-inset ring-primary-300;
  @apply transition-opacity duration-600 ease-in-out;
  content: "";
  border-radius: inherit;
}

.glass-clickable:not(.loading):hover::after {
  @apply opacity-100;
}

.glass-clickable.loading::after {
  @apply absolute inset-0 w-full h-full pointer-events-none;
  @apply shadow-md shadow-primary-300;
  @apply animate-pulse duration-500;
  content: "";
  border-radius: inherit;
}
